# Min Max scaler

In [5]:
import pandas as pd
from sklearn.preprocessing import  MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import maxabs_scale

loading dataset....

In [7]:
data={
    'age': [25, 45, 35, 50, 23],
    'salary': [50000, 100000, 75000, 120000, 48000],
    'score': [200, 400, 300, 500, 250]
}

df = pd.DataFrame(data)
df.head()

   age  salary  score
0   25   50000    200
1   45  100000    400
2   35   75000    300
3   50  120000    500
4   23   48000    250

Min max, max abs, standard scaler

In [8]:
standard_scaler = StandardScaler()
min_max_scaler = MinMaxScaler()
max_abs_scaler = maxabs_scale\

df_standard_scaled = standard_scaler.fit_transform(df)
df_min_max_scaled = min_max_scaler.fit_transform(df)
df_max_abs_scaled = max_abs_scaler(df)

df_standard_scaled = pd.DataFrame(df_standard_scaled, columns=df.columns)
df_min_max_scaled = pd.DataFrame(df_min_max_scaled, columns=df.columns) 
df_max_abs_scaled = pd.DataFrame(df_max_abs_scaled, columns=df.columns)
print("Standard Scaled Data:\n", df_standard_scaled)
print("\nMin-Max Scaled Data:\n", df_min_max_scaled)
print("\nMax-Abs Scaled Data:\n", df_max_abs_scaled)

Standard Scaled Data:
         age    salary     score
0 -0.995228 -1.018936 -1.207020
1  0.882561  0.762421  0.649934
2 -0.056334 -0.128258 -0.278543
3  1.352008  1.474964  1.578410
4 -1.183007 -1.090191 -0.742781

Min-Max Scaled Data:
         age    salary     score
0  0.074074  0.027778  0.000000
1  0.814815  0.722222  0.666667
2  0.444444  0.375000  0.333333
3  1.000000  1.000000  1.000000
4  0.000000  0.000000  0.166667

Max-Abs Scaled Data:
     age    salary  score
0  0.50  0.416667    0.4
1  0.90  0.833333    0.8
2  0.70  0.625000    0.6
3  1.00  1.000000    1.0
4  0.46  0.400000    0.5