## Now on Second Data

In [1]:
import pandas as pd
import numpy as np  
import seaborn as sns

Loading dataset...

In [6]:
df=sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

Cheaking Missing Values

In [7]:
df.isnull().sum().sort_values(ascending=False)

mass              522
distance          227
orbital_period     43
method              0
number              0
year                0
dtype: int64

Mass has high missing values we drop it

In [8]:
df.drop('mass',axis=1,inplace=True)
df.isnull().sum().sort_values(ascending=False)

distance          227
orbital_period     43
method              0
number              0
year                0
dtype: int64

For distance we take Median

In [10]:
mean_distance=df['distance'].mean()
df['distance'].fillna(mean_distance,inplace=True)

In [11]:
df.isnull().sum().sort_values(ascending=False)

orbital_period    43
method             0
number             0
distance           0
year               0
dtype: int64

orbital period is numeric we take median

In [12]:
orbital_period_median=df['orbital_period'].median()
df['orbital_period'].fillna(orbital_period_median,inplace=True)

In [13]:
df.isnull().sum().sort_values(ascending=False)

method            0
number            0
orbital_period    0
distance          0
year              0
dtype: int64

# We impute all the missing values using pandas