Removing all the catagorical values in the dataset

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

loading data set

In [3]:
df=sns.load_dataset('titanic')
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [ ]:

columns=['sex','embarked','class','who','adult_male','deck','embark_town','alive']
label_encoders={} #dictionary to hold label encoders 4 each column
for col in columns:
    le=LabelEncoder()
    df[col]=le.fit_transform(df[col])
    label_encoders[col]=le
df.head()

   survived  pclass  sex   age  ...  deck  embark_town  alive  alone
0         0       3    1  22.0  ...     7            2      0  False
1         1       1    0  38.0  ...     2            0      1  False
2         1       3    0  26.0  ...     7            2      1   True
3         1       1    0  35.0  ...     2            2      1  False
4         0       3    1  35.0  ...     7            2      0   True

[5 rows x 15 columns]

There is no catagorical value in the data set

we apply regression  easily