Merging Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data1={
    'ID':[1,2,3,4],
    'Name':['Alice','Bob','Charlie','David'],
    'age':[25,30,35,40]
}

data2={
    'ID':[3,4,5,6],
    'Name':['Charlie','David','Eve','Frank'],
    'age':[35,40,45,50]
}

data_3={
    'city':['New York','Los Angeles','Chicago','Houston'],
    'country':['USA','USA','USA','USA']
}


df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
df3=pd.DataFrame(data_3)
df1.head()

   ID     Name  age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
3   4    David   40

In [4]:
# merging data 1,2

df_1=pd.concat([df1,df2],axis=0)  # row wise concatenation
print(df_1)

   ID     Name  age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
3   4    David   40
0   3  Charlie   35
1   4    David   40
2   5      Eve   45
3   6    Frank   50

In [ ]:
# data 1,3

df_2=pd.concat([df1,df3],axis=1)  # column wise concatenation
print(df_2)

   ID     Name  age         city country
0   1    Alice   25     New York     USA
1   2      Bob   30  Los Angeles     USA
2   3  Charlie   35      Chicago     USA
3   4    David   40      Houston     USA